<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/">
</head>
<body>
    <div id="back">
        <img src="../images/redghead.png" alt=""> 
        <div id="container">
            <h1>Please write your thoughts here :</h1>
            <form action="/written" method="POST">
                <textarea style="width: 400px; height: 100px;" name="post" placeholder="Your Thoughts" ></textarea>
                <button style="margin: 10px; padding: 7px; background-color: aqua;"> Post</button>   
            </form>     
        </div>
    </div>
</body>
</html>